// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// $font-family-sans-serif: 'Roboto', sans-serif;

$primary: #fbd331;
$secondary: #222222;
$gray: #e2e2e2;
// $cta: lighten($secondary, 0.5);
$cta: #e91c24;