// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// $font-family-sans-serif: 'Roboto', sans-serif;

$primary: #222222;
$secondary: #7c7c7c;
$cta: lighten($secondary, 0.5);