html{
  min-height: 100%;
  position: relative;
}
body{
  margin-bottom: 60px;
}

p {
  font-size: 1.25rem;
}

.es_marca {
  font-style: italic;
  font-weight: 400;
}

h1 {
  // font-size: 2.65rem;
  line-height: 3rem;
}

h2 {
  // font-size: 2.25rem;
  // font-weight: 700;
  line-height: 2.75rem;
}

h3 {
  // font-size: 1.8rem;
  line-height:2.25rem;
}

h4 {
  // font-size: 1.6rem;
  line-height: 2.25rem;
}

.btn {
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $cta;
  border: none;

  &:hover {
    background-color: darken($cta, .5);
  }
}


// @media (max-width: 767px) {

//   h1 {
//     font-size: 2.4rem;
//   }

//   h2 {
//     font-size: 1.90rem;
//   }
  
//   h3 {
//     font-size: 1.6rem;
//   }

//   h4 {
//     font-size: 1.4rem;
//   }


// }
