.cta {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $primary;
    color: $secondary;
    text-align: center;

    .btn {
      background-color: $cta;
      &:hover {
        background-color: darken($cta, .5);
      }
    }
  
    h3 {
      font-size: 1.6em;
      // margin-bottom: 2rem;
    }

  
    @media (max-width: 767px) {

        h3 {
            font-size: 1.4em;
        }

    }
  }
  