.hero {
  position: relative;
  background-size: cover;
  background-color: $primary;

  .btn {
    background-color: $cta;
    &:hover {
      background-color: darken($cta, .5);
    }
  }
  

  .darken {
    height: 725px;
  }

  .content {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;

    .container {

      .bajada {

        h1, h2, h3, h4, h5, p {
          color: white;
        }
  
        #logo_empresa {
          width:275px;
        }
  
      }
            
      .form {

        .btn {
          margin-top: 1rem;
          // text-transform: uppercase;
          color: white;
          &:hover {
            // background-color: $cta;
          }
        }
      }

    }
  }
}

@media (min-width: 1200px) {

  .hero {
    background-position: center bottom;
    background-image: url('../../statics/hero-1920-x-700.jpg');

    .bajada {
      h1 {
        margin-top: 60px;
      }
    }

  }

}

@media (min-width: 768px) and (max-width: 1199px) {

  .hero {
    background-position: center bottom;
    background-image: url('../../statics/hero-1920-x-700.jpg');
    .darken {
      // background-color: rgba(#000, 0.5);
    }
    .bajada {
      h1 {
        margin-top: 30px;
      }
    }
  }

}

@media (max-width: 767px) {
  .hero {
    background-position: center right;
    background-image: url('../../statics/hero-1200-767.jpg');
    .darken {
      height:1250px;
      background-color: rgba($secondary, 0.9);
    }

    .content {
      // height: 100%;
      .container {
        text-align: center;

        .bajada {
          h1 {
            margin-top: 10px;
          } 

          #logo_empresa {
            width: 250px;
          }
        }

        .form {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }

      }
    }
  }
}
