#proposition {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: lighten($color: $primary, $amount: 35);
   
    h2 {
    //   text-transform: uppercase;
    }

    .isologo {
        width: 260px;
    }

    @media (max-width: 767px) {

        h3 {
          margin-bottom: 1.5rem;
        }

        p {
        //   margin-bottom: 3rem;
        }

    }
  }
  