.tanks{
  padding-top: 100px;
  text-align: center;
  margin-bottom: 100px;

  h2{
    color: $cta;
    margin-bottom: 20px;
  }

  a{
    color: $cta;

  }

  h5{
    margin-bottom: 10px;
  }

  p{
    font-size: 1.2em;
  }

  .btn{
    margin: 1rem 0;
    color: white;
  }

  

  .social{
    margin-bottom: 30px;
    a{
      padding: 0 8px;

    }
  }

  .whatsapp{
    .btn{
      &:first-child{
        margin-right: 8px;
      }
    }
  }


}

@media (max-width: 767px) {
  .tanks{
    padding-top: 95px;
    text-align: center;
  
    h3{
      // color: $primary;
      margin-bottom: 20px;
    }
  

  }
}